<ion-view view-title="Login" ng-controller="WifiCtrl" ng-init="init()">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<h1>Network: {{network}}</h1>
			</div>
		</div>

		
		{{isOnline}}
		
		
		<div class="card">
			<div class="item item-text-wrap">
				<ion-toggle ng-model="isOnline" ng-checked="item.checked">
					<h1 ng-show="isOnline">I'm online</h1>
					<h1 ng-show="! isOnline">I'm offline</h1>
				</ion-toggle>
			</div>
		</div>

	</ion-content>
</ion-view>